 html{
   background: #AB6707;
 }

 #root{
   background:#AB6707 ;
 }
 
 #form{
   display:flex;
   margin-top:30px;
   margin-left:30%;
   margin-right:30%;
   padding:10px 0px 10px 0px;
   justify-content: center;
   background-color:#613900;
   border:#E3A54D solid 5px;
   border-radius:5px;
   color:#E3A54D;
   font-family: 'Trebuchet MS';
   
 }
#letters{
  display:block;
  padding-left:30px;
  color:#E3A54D;

}

#cardMap{
  display: flex;
  justify-content: center;
  margin-top:20px;

 
}

.card-img-top{
  border: 10px solid beige;
  border-radius:5px;

}

#button:hover{
  color:#DE8509;
  background-color: #5E3904;
}

#button{
  color:#5E3904;
  background-color:#DE8509;
  margin-left:10px;
}